<div class="row">
  <div class="col-md-5">
    <h2>{{name}}'s Notes</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let note of notes"
        (click)="selectNote(note)"
        [class.active]="note === selectedNote">
        {{note.content}}
    </li>
  </ul>
  <button class="btn btn-warning" (click)="createNewNote()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
  <app-note-details
    [name] = "name"
    [note] = "selectedNote"
    [createHandler]="addNote"
    [updateHandler]="updateNote"
    [deleteHandler]="deleteNote">
  </app-note-details>
  </div>
</div>

